
body.maintenance-page {
  background-color: #fff;
  color: #000;
}
.maintenance-page #page-wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
  width: 100%;
  margin-top: 40px;
}

.maintenance-page #main-wrapper {
	background:#fff;
  min-height: inherit;
}
.maintenance-page #logo img {
  width: 100%;
  min-width: 270px;
}
.maintenance-page #header,
.maintenance-page #messages,
.maintenance-page #main {
  width: auto;
}

.maintenance-page #page,
.maintenance-page #header div.section,
.maintenance-page #main {

}

.maintenance-page #messages {
  width: 780px;
}

.maintenance-page #content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.maintenance-page #main {
  margin: 0;
  margin-top: 10%;
}
.maintenance-page #main .telefonos {
  text-align: center;
  margin: 0px auto;
  width: 50%;
}
.maintenance-page #main .telefonos div.contacto {
  display: inline;
  float: left;
  margin-left: 10%;
}
.maintenance-page #main .telefonos div.contacto span {
  color: #404040;
  font-family: calibri, sans-serif;
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  clear: both;
  display: block;
}
.maintenance-page #content .section {
  padding: 0 0 0 10px;
}
.maintenance-page #header {
  background-color: #fff;
  background-image: none;
  text-align: center;
  margin-top: 15%;
}
.maintenance-page #name-and-slogan {
  margin-bottom: 50px;
  margin-left: 0;
  padding-top: 20px;
  font-size: 90%;
}
.maintenance-page #name-and-slogan,
.maintenance-page #name-and-slogan a,
.maintenance-page #name-and-slogan a:hover,
.maintenance-page #name-and-slogan a:hover {
  color: #777;
}
.maintenance-page  h1#page-title {
  line-height: 1em;
  margin-top: 0;
}
.maintenance-page #messages {
  padding: 0;
  margin-top: 30px;
}
.maintenance-page #messages div.section {
  padding: 0;
}
