/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 1152 Grid
================================================== */

    .container-12 { position: relative; width: 1152px; margin: 0 auto; padding: 0; }

	.grid-1,
	.grid-2,
	.grid-3,
	.grid-4,
	.grid-5,
	.grid-6,
	.grid-7,
	.grid-8,
	.grid-9,
	.grid-10,
	.grid-11,
	.grid-12
	{ float: left; display: inline; margin-left: 10px; margin-right: 10px; }

    /* Nested Column Classes */
    .container-12 .alpha               { margin-left: 0; }
    .container-12 .omega               { margin-right: 0; }

    .container-12 .grid-1			{ width: 76px;  }
    .container-12 .grid-2			{ width: 172px; }
    .container-12 .grid-3			{ width: 268px; }
    .container-12 .grid-4			{ width: 364px; }
    .container-12 .grid-5			{ width: 460px; }
    .container-12 .grid-6			{ width: 556px; }
    .container-12 .grid-7			{ width: 652px; }
    .container-12 .grid-8			{ width: 748px; }
    .container-12 .grid-9			{ width: 844px; }
    .container-12 .grid-10			{ width: 940px; }
    .container-12 .grid-11			{ width: 1036px; }
    .container-12 .grid-12			{ width: 1132px; }

	
/* Pref/Suf Styles */
	.container-12 .prefix-1 		{padding-left:96px;}
	.container-12 .prefix-2 		{padding-left:192px;}
	.container-12 .prefix-3 		{padding-left:288px;}
	.container-12 .prefix-4 		{padding-left:384px;}
	.container-12 .prefix-5 		{padding-left:480px;}
	.container-12 .prefix-6 		{padding-left:576px;}
	.container-12 .prefix-7 		{padding-left:672px;}
	.container-12 .prefix-8 		{padding-left:768px;}
	.container-12 .prefix-9 		{padding-left:864px;}
	.container-12 .prefix-10 		{padding-left:960px;}
	.container-12 .prefix-11 		{padding-left:1056px;}
	
	.container-12 .suffix-1 		{padding-right:96px;}
	.container-12 .suffix-2 		{padding-right:192px;}
	.container-12 .suffix-3 		{padding-right:288px;}
	.container-12 .suffix-4 		{padding-right:384px;}
	.container-12 .suffix-5 		{padding-right:480px;}
	.container-12 .suffix-6 		{padding-right:576px;}
	.container-12 .suffix-7 		{padding-right:672px;}
	.container-12 .suffix-8 		{padding-right:768px;}
	.container-12 .suffix-9 		{padding-right:864px;}
	.container-12 .suffix-10 		{padding-right:960px;}
	.container-12 .suffix-11 		{padding-right:1056px;}


	.view-content:after	{
		content: '';
		width: 100%;
		clear: both;
		display: block;
	}


	.column_left {
		float: left;
		margin-right: 20px;
	}

	.column_right {
		float: right;
		margin-left: 20px;
	}


	@media only screen and (min-width: 995px) and (max-width: 1230px) {

		/* #Base 960 Grid
		================================================== */

	    .container-12 {width: 960px;}


	    /* Base Grid */
	    .container-12 .grid-1			{ width: 60px;  }
	    .container-12 .grid-2			{ width: 140px; }
	    .container-12 .grid-3			{ width: 220px; }
	    .container-12 .grid-4			{ width: 300px; }
	    .container-12 .grid-5			{ width: 380px; }
	    .container-12 .grid-6			{ width: 460px; }
	    .container-12 .grid-7			{ width: 540px; }
	    .container-12 .grid-8			{ width: 620px; }
	    .container-12 .grid-9			{ width: 700px; }
	    .container-12 .grid-10			{ width: 780px; }
	    .container-12 .grid-11			{ width: 860px; }
	    .container-12 .grid-12			{ width: 940px; }
		
		
	/* Pref/Suf Styles */
		.container-12 .prefix-1 		{padding-left:80px;}
		.container-12 .prefix-2 		{padding-left:160px;}
		.container-12 .prefix-3 		{padding-left:240px;}
		.container-12 .prefix-4 		{padding-left:320px;}
		.container-12 .prefix-5 		{padding-left:400px;}
		.container-12 .prefix-6 		{padding-left:480px;}
		.container-12 .prefix-7 		{padding-left:560px;}
		.container-12 .prefix-8 		{padding-left:640px;}
		.container-12 .prefix-9 		{padding-left:720px;}
		.container-12 .prefix-10 		{padding-left:800px;}
		.container-12 .prefix-11 		{padding-left:880px;}
		
		.container-12 .suffix-1 		{padding-right:80px;}
		.container-12 .suffix-2 		{padding-right:160px;}
		.container-12 .suffix-3 		{padding-right:240px;}
		.container-12 .suffix-4 		{padding-right:320px;}
		.container-12 .suffix-5 		{padding-right:400px;}
		.container-12 .suffix-6 		{padding-right:480px;}
		.container-12 .suffix-7 		{padding-right:560px;}
		.container-12 .suffix-8 		{padding-right:640px;}
		.container-12 .suffix-9 		{padding-right:720px;}
		.container-12 .suffix-10 		{padding-right:800px;}
		.container-12 .suffix-11 		{padding-right:880px;}


		.column_left {
			float: left;
			margin-right: 20px;
		}

		.column_right {
			float: right;
			margin-left: 20px;
		}

	}



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 995px) {

        .container-12                                  { width: 768px; }
        .grid-1,
		.grid-2,
		.grid-3,
		.grid-4,
		.grid-5,
		.grid-6,
		.grid-7,
		.grid-8,
		.grid-9,
		.grid-10,
		.grid-11,
		.grid-12
		{ margin-left: 10px; margin-right: 10px;  }


		.container-12 .grid-1 			{ width: 44px; }
        .container-12 .grid-2  			{ width: 108px; }
        .container-12 .grid-3    		{ width: 172px; }
        .container-12 .grid-4 			{ width: 236px; }
        .container-12 .grid-5    		{ width: 300px; }
        .container-12 .grid-6   		{ width: 364px; }
        .container-12 .grid-7 			{ width: 428px; }
        .container-12 .grid-8  			{ width: 492px; }
        .container-12 .grid-9 			{ width: 556px; }
        .container-12 .grid-10			{ width: 620px; }
        .container-12 .grid-11			{ width: 684px; }
        .container-12 .grid-12			{ width: 748px; }

		
		/* Pref/Suf Styles */
		.container-12 .prefix-1 		{padding-left:40px;}
		.container-12 .prefix-2 		{padding-left:80px;}
		.container-12 .prefix-3 		{padding-left:120px;}
		.container-12 .prefix-4 		{padding-left:160px;}
		.container-12 .prefix-5 		{padding-left:200px;}
		.container-12 .prefix-6 		{padding-left:240px;}
		.container-12 .prefix-7 		{padding-left:280px;}
		.container-12 .prefix-8 		{padding-left:320px;}
		.container-12 .prefix-9 		{padding-left:360px;}
		.container-12 .prefix-10 		{padding-left:400px;}
		.container-12 .prefix-11 		{padding-left:440px;}
		
		.container-12 .suffix-1 		{padding-right:40px;}
		.container-12 .suffix-2 		{padding-right:80px;}
		.container-12 .suffix-3 		{padding-right:120px;}
		.container-12 .suffix-4 		{padding-right:160px;}
		.container-12 .suffix-5 		{padding-right:200px;}
		.container-12 .suffix-6 		{padding-right:240px;}
		.container-12 .suffix-7 		{padding-right:280px;}
		.container-12 .suffix-8 		{padding-right:320px;}
		.container-12 .suffix-9 		{padding-right:360px;}
		.container-12 .suffix-10 		{padding-right:400px;}
		.container-12 .suffix-11 		{padding-right:440px;}


		.column_left {
			float: left;
			margin-right: 20px;
		}

		.column_right {
			float: right;
			margin-left: 20px;
		}


    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container-12{width: 300px;}
        .grid-1,
		.grid-2,
		.grid-3,
		.grid-4,
		.grid-5,
		.grid-6,
		.grid-7,
		.grid-8,
		.grid-9,
		.grid-10,
		.grid-11,
		.grid-12{margin: 0; display: block; float: none;}


        .container-12 .grid-1,
        .container-12 .grid-2,
        .container-12 .grid-3,
        .container-12 .grid-4,
        .container-12 .grid-5,
        .container-12 .grid-6,
        .container-12 .grid-7,
        .container-12 .grid-8,
        .container-12 .grid-9,
        .container-12 .grid-10,
        .container-12 .grid-11,
        .container-12 .grid-12{width: 300px; margin-bottom: 50px;}

       	.container-12 .grid-12 {margin-bottom: 0;}
		
		/* Pref/Suf Styles */
		.container-12 .prefix-1,
		.container-12 .prefix-2,
		.container-12 .prefix-3,
		.container-12 .prefix-4,
		.container-12 .prefix-5,
		.container-12 .prefix-6,
		.container-12 .prefix-7,
		.container-12 .prefix-8,
		.container-12 .prefix-9,
		.container-12 .prefix-10,
		.container-12 .prefix-11{padding-left:0px;}
		
		.container-12 .suffix-1,
		.container-12 .suffix-2,
		.container-12 .suffix-3,
		.container-12 .suffix-4,
		.container-12 .suffix-5,
		.container-12 .suffix-6,
		.container-12 .suffix-7,
		.container-12 .suffix-8,
		.container-12 .suffix-9,
		.container-12 .suffix-10,
		.container-12 .suffix-11{padding-right:0px;}


		.grid-last {margin-bottom: 0 !important;}
    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container-12 { width: 420px; }
        .grid-1,
		.grid-2,
		.grid-3,
		.grid-4,
		.grid-5,
		.grid-6,
		.grid-7,
		.grid-8,
		.grid-9,
		.grid-10,
		.grid-11,
		.grid-12{margin: 0;}


        .container-12 .grid-1,
        .container-12 .grid-2,
        .container-12 .grid-3,
        .container-12 .grid-4,
        .container-12 .grid-5,
        .container-12 .grid-6,
        .container-12 .grid-7,
        .container-12 .grid-8,
        .container-12 .grid-9,
        .container-12 .grid-10,
        .container-12 .grid-11,
        .container-12 .grid-12{width: 420px;}
        
        .container-12 .grid-12 {margin-bottom: 0;}
		
		/* Pref/Suf Styles */
		.container-12 .prefix-1,
		.container-12 .prefix-2,
		.container-12 .prefix-3,
		.container-12 .prefix-4,
		.container-12 .prefix-5,
		.container-12 .prefix-6,
		.container-12 .prefix-7,
		.container-12 .prefix-8,
		.container-12 .prefix-9,
		.container-12 .prefix-10,
		.container-12 .prefix-11{padding-left:0px;}
		
		.container-12 .suffix-1,
		.container-12 .suffix-2,
		.container-12 .suffix-3,
		.container-12 .suffix-4,
		.container-12 .suffix-5,
		.container-12 .suffix-6,
		.container-12 .suffix-7,
		.container-12 .suffix-8,
		.container-12 .suffix-9,
		.container-12 .suffix-10,
		.container-12 .suffix-11{padding-right:0px;}

    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container-12:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }